@{
    ViewData["Title"] = "Home Page";
}

<style>
    .radio {
        padding: 35px;
    }

    .highcharts-figure, .highcharts-data-table table {
        min-width: 310px;
        max-width: 800px;
        margin: 1em auto;
    }

    #container {
        height: 400px;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #EBEBEB;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }

    .highcharts-figure, .highcharts-data-table table {
        min-width: 310px;
        max-width: 800px;
        margin: 1em auto;
    }

    #container {
        height: 400px;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #EBEBEB;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }


/*    pie*/

    #container {
        height: 500px;
    }

    .highcharts-figure, .highcharts-data-table table {
        min-width: 320px;
        max-width: 700px;
        margin: 1em auto;
    }

    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #EBEBEB;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }

    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }

    .highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
        padding: 0.5em;
    }

    .highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }

    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }


</style>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/variable-pie.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>


<div class="row ">
    <div class="col-md-6 quadro">
        <h3 id="p1">Quantidade de ofertas</h3>
        <br />
    </div>
    <div class="col-md-3 c">
        <div class="togglebutton radio">
            <label>
                <span style="font-weight:bold"></span>Venda
                <input type="checkbox" id="cmbAbsoluto">
                <span class="toggle"></span>Locação
            </label>
        </div>
        <br />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">place</i>
                </div>
                <h4 class="card-title">Indicador nacional</h4>
            </div>
            <div class="card-body ">
                <div class="row">

                    <div class="col-md-12 ml-auto mr-auto" id="boxGraficos">

                        <figure class="highcharts-figure">
                            <div id="Evolutivo"></div>
                            <p class="highcharts-description">
                            </p>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header card-header-info card-header-icon">
            </div>
            <div class="card-body ">
                <div class="row">
                    <div class="col-md-3 b">
                        <div class="form-group">
                            <label for="exampleFormControlSelect2">Selecione a Cidade...</label>
                            <select multiple class="form-control selectpicker" data-style="btn btn-link" title="" id="cmbCidade">
                                @foreach (var item in Model.Cidades)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="exampleFormControlSelect2">Selecione o Bairro...</label>
                            <select multiple class="form-control selectpicker" data-style="btn btn-link" title="" id="cmbBairro">
                                @foreach (var item in Model.Bairro)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="exampleFormControlSelect2">Selecione o Tipo...</label>
                            <select multiple class="form-control selectpicker" data-style="btn btn-link" title="" id="cmbTipo">
                                @foreach (var item in Model.Tipo)
                                {
                                    <option value="@item">@item</option>
                                }
                            </select>
                        </div>
                    </div>


                    <div class="col-md-3">
                        <button type="button" onclick='limpar()' class="btn btn-light f" style="margin-top: 30px;">Limpar</button>
                        <button type="button" onclick='pesquisar()' class="btn btn-success" style="margin-top: 30px;">Pesquisar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-chart card-header-info">
                <div class="ct-chart" id="dailySalesChart"></div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Quantidade de ofertas</h4>
                <p class="card-category"><span class="text-success"><i class="fa fa-long-arrow-up"></i> 55%  </span> increase in today sales.</p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> updated 4 minutes ago
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-chart card-header-info">
                <div class="ct-chart" id="completedTasksChart"></div>
            </div>
            <div class="card-body">
                <h4 class="card-title">Metragem média dos imóveis</h4>
                <p class="card-category">Last Campaign Performance</p>
            </div>
            <div class="card-footer">
                <div class="stats">
                    <i class="material-icons">access_time</i> updated 2 minutes ago
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-chart card-header-info">

            </div>
            <div class="card-body">


                <figure class="highcharts-figure">
                    <div id="Bairros"></div>
                    <p class="highcharts-description">

                    </p>
                </figure>
            </div>
            <div class="card-footer">
                <div class="stats">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-chart card-header-info">

            </div>
            <div class="card-body">


                <figure class="highcharts-figure">
                    <div id="Cidades"></div>
                    <p class="highcharts-description">

                    </p>
                </figure>
            </div>
            <div class="card-footer">
                <div class="stats">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-chart card-header-info">

            </div>
            <div class="card-body">


                <figure class="highcharts-figure">
                    <div id="Tipo de Imovel"></div>
                    <p class="highcharts-description">

                    </p>
                </figure>
            </div>
            <div class="card-footer">
                <div class="stats">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-chart card-header-info">

            </div>
            <div class="card-body">

                <figure class="highcharts-figure">
                    <div id="Perfil do Imovel"></div>
                    <p class="highcharts-description">

                    </p>
                </figure>
            </div>
            <div class="card-footer">
                <div class="stats">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-chart card-header-info">

            </div>
            <div class="card-body">


                <figure class="highcharts-figure">
                    <div id="Suites"></div>
                    <p class="highcharts-description">

                    </p>
                </figure>
            </div>
            <div class="card-footer">
                <div class="stats">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header card-chart card-header-info">

            </div>
            <div class="card-body">

                <figure class="highcharts-figure">
                    <div id="Garagens"></div>
                    <p class="highcharts-description">

                    </p>
                </figure>
            </div>
            <div class="card-footer">
                <div class="stats">
                </div>
            </div>
        </div>
    </div>
</div>





<script src="~/js/Graficos.js"></script>



